registry=https://bnpm.byted.org/
disturl=https://bnpm.bytedance.net/mirrors/node/
chromedriver-cdnurl=https://bnpm.bytedance.net/mirrors/chromedriver
couchbase-binary-host-mirror=https://bnpm.bytedance.net/mirrors/couchbase/v{version}
debug-binary-host-mirror=https://bnpm.bytedance.net/mirrors/node-inspector
electron-mirror=https://bnpm.bytedance.net/mirrors/electron/
flow-bin-binary-host-mirror=https://bnpm.bytedance.net/mirrors/flow/v
fse-binary-host-mirror=https://bnpm.bytedance.net/mirrors/fsevents
fuse-bindings-binary-host-mirror=https://bnpm.bytedance.net/mirrors/fuse-bindings/v{version}
git4win-mirror=https://bnpm.bytedance.net/mirrors/git-for-windows
gl-binary-host-mirror=https://bnpm.bytedance.net/mirrors/gl/v{version}
grpc-node-binary-host-mirror=https://bnpm.bytedance.net/mirrors
hackrf-binary-host-mirror=https://bnpm.bytedance.net/mirrors/hackrf/v{version}
leveldown-binary-host-mirror=https://bnpm.bytedance.net/mirrors/leveldown/v{version}
leveldown-hyper-binary-host-mirror=https://bnpm.bytedance.net/mirrors/leveldown-hyper/v{version}
mknod-binary-host-mirror=https://bnpm.bytedance.net/mirrors/mknod/v{version}
node-sqlite3-binary-host-mirror=https://bnpm.bytedance.net/mirrors
node-tk5-binary-host-mirror=https://bnpm.bytedance.net/mirrors/node-tk5/v{version}
nodegit-binary-host-mirror=https://bnpm.bytedance.net/mirrors/nodegit/v{version}/
operadriver-cdnurl=https://bnpm.bytedance.net/mirrors/operadriver
phantomjs-cdnurl=https://bnpm.bytedance.net/mirrors/phantomjs
profiler-binary-host-mirror=https://bnpm.bytedance.net/mirrors/node-inspector/
puppeteer-download-host=https://bnpm.bytedance.net/mirrors
python-mirror=https://bnpm.bytedance.net/mirrors/python
rabin-binary-host-mirror=https://bnpm.bytedance.net/mirrors/rabin/v{version}
sass-binary-site=https://bnpm.bytedance.net/mirrors/node-sass
sodium-prebuilt-binary-host-mirror=https://bnpm.bytedance.net/mirrors/sodium-prebuilt/v{version}
sqlite3-binary-site=https://bnpm.bytedance.net/mirrors/sqlite3
utf-8-validate-binary-host-mirror=https://bnpm.bytedance.net/mirrors/utf-8-validate/v{version}
utp-native-binary-host-mirror=https://bnpm.bytedance.net/mirrors/utp-native/v{version}
zmq-prebuilt-binary-host-mirror=https://bnpm.bytedance.net/mirrors/zmq-prebuilt/v{version}
